@model List<AspnetCoreCURDApp.Models.EmployeeViewModal>

@{
    ViewData["Title"] = "Employees Details";
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
    var ErrorMessage = TempData["ErrorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr>
@if (!string.IsNullOrWhiteSpace(@SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@SuccessMessage
        <button type="button" class="btn-close fload-end" data-bs-dismiss="alert"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(@ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ErrorMessage
        <button type="button" class="btn-close fload-end" data-bs-dismiss="alert"></button>
    </div>
}
<form>
    <button asp-action="Create" asp-controller="Employee" class="btn btn-primary
        mb-3">Create</button>
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Date Of Birth</th>
                <th class="text-center">Email</th>
                <th class="text-center">Salary</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var employees in Model)
                {
                    <tr>
                        <td class="text-center">@employees.Id</td>
                        <td>@employees.FullName</td>
                        <td class="text-center">@employees.DateOfBirth.ToString("dd/MM/yyyy")</td>
                        <td>@employees.Email</td>
                        <td class="text-end">@employees.Salary</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Employee" asp-action="Edit"
                            asp-route-id="@employees.Id" class="btn
                            btn-primary">Edit</a>
                                <a asp-controller="Employee" asp-action="Delete"
                            asp-route-id="@employees.Id" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">No Records Found</td>
                </tr>
            }
        </tbody>
    </table>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}